<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
  <title>Recipes</title>

  <!-- css -->
  <link href="stylesheets/base.css" rel="stylesheet">
  <link href="stylesheets/project.css" rel="stylesheet">
  
  <!-- favicon -->
  <!-- ... -->
</head>
<body class="page-orange">
  <header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
      <li>
        <a data-toggle="menu" href="#ui_menu">
          <span class="icon icon-lg">menu</span>
        </a>
      </li>
    </ul>
    <a class="header-logo margin-left-no" href="/">Recetas</a>
  </header>
  <main class="content">
    <div class="content-header ui-content-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
            <h1 class="content-heading"> <img class="logo-img" src="images/cocinero.png"> Recetas de Cocina</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
          <section class="content-inner margin-top-no">
            <div class="card">
              <div class="card-main">
                <div class="card-inner">
                  <p>El arte de la buena mesa se está perdiendo, así como el de la conversación. En un mundo marcado por la velocidad y los carbohidratos, la hamburguesa es el gran símbolo de la practicidad y la gimnasia el de la salud. La apariencia delgada de las mujeres convertida en obsesión dietética y la indiferencia de la juventud han terminado con los placeres de la mesa. Miles de años de cultura gastronómica son reemplazadaos por alimentos de producción altamente tecnificados.

                  Así han desaparecido de la mesa moderna los deliciosos conejos, los hígados, el cordero, las salsas, etc., para ser reemplazados por la simulación química de la comida.</p>
                </div>
              </div>
            </div>
            <h2 class="content-sub-heading"> Recetas <p class="margin-top-no"><a class="btn btn-green waves-attach">Agregar Receta</a>&nbsp;&nbsp;&nbsp;</p>
            </h2>
            <p></p>
            <div class="table-responsive">
              <table class="table" title="A basic table">
                <thead>
                  <tr>
                    <th>Nombre del plato</th>
                    <th>Autor</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Id augue sagittis</td>
                    <td>Eleifend metus eget</td>
                    <td>Lacinia eros curabitur</td>
                    <td>
                      <div class="row">
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a class="fbtn fbtn-green waves-attach waves-circle" href="/receta">V</a></p>
                        </div>
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a class="fbtn fbtn-orange waves-attach waves-circle" href="/formularioReceta">E</a></p>
                        </div>
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a class="fbtn fbtn-red waves-attach waves-circle waves-light">B</a></p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Id augue sagittis</td>
                    <td>Eleifend metus eget</td>
                    <td>Lacinia eros curabitur</td>
                    <td>
                      <div class="row">
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a class="fbtn fbtn-green waves-attach waves-circle">V</a></p>
                        </div>
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a class="fbtn fbtn-orange waves-attach waves-circle">E</a></p>
                        </div>
                        <div class="col-xx-4">
                          <p class="margin-top-no"><a class="fbtn fbtn-red waves-attach waves-circle waves-light">B</a></p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
                     
          </section>
        </div>
      </div>
    </div>
  </main>
  <footer class="ui-footer">
    <div class="container">
      <p>Adapatación prueba Recetasde cocina</p>
    </div>
  </footer>
  <!-- js -->
  <script src="js/jquery.min.js"></script>
  <script src="js/base.min.js"></script>
  <script src="js/project.min.js"></script>
</body>
</html>